.wrapper

  = render 'shared/side_bar'


.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box--current-group
        = @group.name
      %ul.main-header__left-box--member-list
        Member :
        %li.main-header__left-box--member-list-member
          - @group.users.each do |user|
            = user.name
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: "main-header__edit-btn--btn"

  .messages
    = render @messages
    

  .new-messages
    .new-messages__post
      .new-messages__post--input
        = form_for [@group, @message] do |f|
          .new-messages__input
            = f.text_field :text, class: "input", placeholder: "type a message"
            = f.label :image, class: "label" do
              = fa_icon "picture-o", class: "icon"
              = f.file_field :image, class: "hidden"
          = f.submit 'Send', class: 'send'
