.chat__side
  .side-header
    .side-header__box
      %p.side-header__box--user-name
        Test-user
      %ul.side-header__box--menu
        = fa_icon "edit"
        = fa_icon "cog"
  .groups
    .group
      %p.group__group--name
        Group name
      %p.group__lastest--massage
        まだメッセージはありません
    .group
      %p.group__group--name
        Group name
      %p.group__lastest--massage
        まだメッセージはありません


.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box--current-group
        Group name 
      %ul.main-header__left-box--member-list
        Member :
        %li.main-header__left-box--member-list-member
          加藤さん、佐藤さん
    .main-header__edit-btn
      Edit
  .massages

  .new-message
    .new-message__post
      .from
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: "form__message", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "form__mask__image" do
              = fa_icon "picture-o", class: "icon"
              = f.file_field :image, class: "hidden"
          = f.submit 'Send', class: 'form__submit'
